/* колір основного тексту  #434455 */
/* акцент #4D5AE5 */
/* заголовок #FFFFFF */
/* параграф #2E2F42  */


:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --white-background-color: #FFFFFF; 
    --footer-text-color: #E7E9FC;
    --logo-text-color: #F4F4FD;
    --hover-text-color: #404BBF;
    --light-slate: #8E8F99;
    --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header-tag{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

body {
    background-color: var(--white-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding-left: 0;
}

.list-top {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding-left: 0;
    padding-top: 24px;
    /* padding-bottom: 24px; */
} 

.list-img{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding-left: 0;
    column-gap: 24px;
    row-gap: 48px;

}


.menu {
    display: flex;
    justify-content: space-between;
}

.logo-navigation {
    display: flex;
}

.logo-top {
    font-family: Raleway,sans-serif ;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 70px;
    padding-top: 24px ;
    padding-bottom: 24px;
    display: flex;
}

.logo {
    font-family: Raleway,sans-serif ;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
}

.logo-blue {
    color: var(--accent-color);

}
.logo-black {
    color: var(--title-text-color);
}

.logo-white {
    color: var(--white-background-color);

}

/* Site-nav */

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    outline: none;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color var(--transition-duration),
}


.site-list .link {
    color: var(--title-text-color);
    font-weight: 500;
}

.link.current{
    color: var(--hover-text-color);
}


.current::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-text-color);
    left: 0;
    bottom: -1px;
}


.contact-list .link {
    color: var(--primary-text-color);
}

.link:hover,
.link:active,
.link:focus {
    color: var(--hover-text-color);
}

.button{
    color: var(--accent-color);
    background-color: var(--logo-text-color);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--primary-brand-color-iris);
    border-radius: 4px;
    font-weight: 500;
    transition: color var(--transition-duration),
    background-color var(--transition-duration),
    box-shadow var(--transition-duration);
}


.button:hover,
.button:active,
.button:focus {
    color: var(--white-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Секція 1 */



.hero {
    text-align: center;
}

.section-title {
    color: var(--white-background-color);
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 494px;
    
}

.section-button {
    color: var(--white-background-color);
    background-color: var(--accent-color);
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin-top: 48px;
    padding: 16px 32px ;
    border: none;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    transition: background-color var(--transition-duration),
    box-shadow var(--transition-duration);
}


.section-button:hover,
.section-button:active,
.section-button:focus {
    background-color: var(--hover-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Опис */


.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
    display: flex;
    gap: 24px ;


}

.feature-item{
    flex-basis: calc((100% - 24px) / 3);
}

.work {
    padding-bottom: 120px;
}

.feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    margin-top: 8px;
}
.text {
    color: var(--primary-text-color);
}

/* Icon */

.icon-item{
    display: flex;
    height: 112px;
    align-items: center;
    justify-content: center;
    background-color: var(--logo-text-color);
    border-radius: 4px;
}


.work-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}



/* Команда */

.section-team {
    background-color: var(--logo-text-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-space{
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-article {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-item {
background-color: var(--white-background-color);
border: 1px solid var(--footer-text-color);
}

.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    text-align: center;
    margin-bottom: 8px;
}
.team-text{
    color: var(--primary-text-color);
    text-align: center;
    margin-bottom: 8px;
}

/* Team-link */

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.footer-soc-list{
    display: flex;
    gap: 16px;
}

.footer-soc-link{
    transition: background-color var(--transition-duration);
}


.footer-soc-link:hover, .footer-soc-link:focus{
    background-color: #31D0AA;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link{
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-duration);
}


.team-soc-link:hover, .team-soc-link:focus{
    background-color: var(--hover-text-color);
}


/* Customers */

.customers{
    padding-top: 130px;
    padding-bottom: 120px;
}

.customers-list{
    display: flex;
    gap: 24px;
}

.customers-item{
    width: calc((100% - 120px) / 6);
}

.customers-link{
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    fill: #8E8F99;
    transition: border var(--transition-duration);
}

.customers-icon{
    transition: fill var(--transition-duration); 
}

.customers-link:hover, 
.customers-link:focus {
    border: 1px solid #404BBF;
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: var(--hover-text-color);
}


.customers-article{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* Examlpe-title  */

.example {
    padding-top: 96px;
    padding-bottom: 120px;
}

.example-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

/* Футер */

.footer-container{
    background-color: var(--title-text-color);
    display: flex;
    /* gap: 120px; */
}

.header-footer{
    color: var(--white-background-color); 
    font-weight: 500; 
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 16px;
}

.dark-top {
    background-color: var(--title-text-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
        url(../images/heroimg.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px; 
    margin-left: auto;
    margin-right: auto;
}


.dark{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--title-text-color);
}

.footer-text {
    color: var(--footer-text-color);
    margin-top: 16px;}

.bottom-left{
    width: 264px;
    margin-right: 120px;
}

/* .footer-icon{
    gap: 80px;
} */

.footer-soc-link{
    width: 40px;
    height: 40px;
    background-color: #FFFFFF1A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Portfolio */

.border-line{
    border-bottom: 1px solid var(--footer-text-color);
}

.example-list{
    flex-wrap: wrap;
}

.portfolio-img,img {
    display: block;
}

.wrap-text{
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-left: 1px solid var(--footer-text-color);
    border-right: 1px solid var(--footer-text-color);
    border-bottom: 1px solid var(--footer-text-color);
}

.portfolio-img-wrap{
    position: relative;
    overflow: hidden;
}

.portfolio-img-text{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--logo-text-color);
    background-color: var(--accent-color);
    padding: 40px 32px;
    opacity: 0;
    transform: translateY(100%);
    transition: transform var(--transition-duration),
                opacity var(--transition-duration);
}

.example-link:hover .portfolio-img-text{
    opacity: 1;
    transform: translateY(0);
}

.filter-list {
    justify-content: center;

}

.list-btn{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    margin-bottom: 72px;
    padding-left: 0;
}

.example-link{
    display: block;
    text-decoration: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow var(--transition-duration);
}

.example-link:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* SUBSCRIBE */

.subscribe-form-wrapper{
    margin-left: auto;
}

.header-footer{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 16px;
}

.subscribe-form{
    display: flex;
    gap: 24px;
}

.subscribe-email{
    color: #FFFFFF4D;
    background-color: var(--title-text-color);
    width: 264px;
    border: 1px solid #FFFFFF4D;
    border-radius: 4px;
    padding: 8px 16px;
    outline: none;
}

.subscribe-submit{
    color: white;
    fill: white;
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 24px;
    width: 165px;
    transition: var(--transition-duration);
    cursor: pointer;
}

.paper-plane{
    width: 24px;
    height: 24px;
}


/* MODAL WINDOW */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-duration),
    visibility var(--transition-duration);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 408px;
    color: var(--light-slate);
    background: #FCFCFC; 
    padding: 24px;
    padding-top: 72px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px #00000033,
    0px 1px 3px 0px #0000001F,
    0px 1px 1px 0px #00000024;
    transform: translate(-50%, -50%) scale(1);
    transition: var(--transition-duration);
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--footer-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
    cursor: pointer;
    transition: background-color var(--transition-duration);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--hover-text-color);
    
}

.modal-close-btn-icon{
    display: block;
    transition: fill var(--white-background-color);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon{
    fill: var(--white-background-color);
}

/* Feedback field */

.feedback-filds{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.modal-header{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 16px;
}

.callback-label{
    position: relative;
    margin-bottom: 8px;
}

.text-label{
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.3;
    display: block;
    margin-bottom: 4px;
}

.callback-input-text, .callback-textarea{
    border-radius: 4px;
    border: 1px solid #21212133;
}


.callback-form-icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-12%);
    width: 18px;
    height: 24px;
    fill: var(--title-text-color);
    transition: fill var(--transition-duration);
}


.callback-input-text{
    width: 100%;
    height: 40px;
    padding-left: 38px;
}

.callback-input-text:hover,
.callback-input-text:focus {
    border: 1px solid var(--accent-color);
}

.textarea-label{
    margin-bottom: 0;
}

.callback-label{
    position: relative;
}

.callback-textarea{
    color: rgba(117, 117, 117, 0.5);
    height: 120px;
    width: 100%;
    border-radius: 4px;
    padding-top: 8px;
    padding-left: 16px;
    resize: none;
}

.callback-textarea:focus{
    border: 1px solid var(--accent-color);
}

.privacy{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#callback-privacy{
    appearance: none;
    outline: none;
}

#callback-privacy:focus{
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-color: var(--accent-color);
    transition: border-color var(--transition-duration), box-shadow var(--transition-duration);
}

#callback-privacy::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--title-text-color);
    border-radius: 2px;
    cursor: pointer;
}

#callback-privacy:checked{
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--accent-color);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23F4F4FD' d='M11.46 4.49a.916.916 0 0 1 .61-.223.913.913 0 0 1 .607.23.78.78 0 0 1 .262.556.773.773 0 0 1-.23.567l-4.655 5.374a.878.878 0 0 1-.284.188.937.937 0 0 1-.976-.167L3.707 8.166a.812.812 0 0 1-.203-.262.756.756 0 0 1 .18-.9.884.884 0 0 1 .292-.178.94.94 0 0 1 .684.011.878.878 0 0 1 .284.187l2.443 2.254 4.052-4.765a.305.305 0 0 1 .023-.024h-.001Z'/%3e%3c/svg%3e");
    cursor: pointer;
}

.label-callback-privacy{
    font-size: 12px;
    letter-spacing: 0.04em;
    display: block;
}

.callback-privacy-link{
    color: var(--accent-color);
}

.callback-submit{
    font-style: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 169px;
    height: 56px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: background-color var(--transition-duration);
    cursor: pointer;
}

.callback-submit:hover, .callback-submit:focus{
    background-color: var(--hover-text-color);
}